@use '../abstracts/mixins';
@use '../abstracts/variables';

.header{
  @include mixins.contenedor;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;

.header_bg img{
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 2rem;
  }

.header__contenedor{
  padding-inline: 16px;
  }

.header__contenido{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  }
}

.location__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;

  .map__info{
    display: flex;    
    background-repeat: no-repeat;
    background-image: url('/img/Maps.png');
    background-size:cover;
    background-position: center;
    max-width:100%;
    min-height: 50vh;
  }
  
}
